body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

#navbar {
    width: 100%;
    background-color: rgb(249 194 92);
    color: white;
    font-weight: bold;
    font-size: 8em;
    text-align: center;
    padding: 18px 0;
}

#wrapper {
    margin: 24px 3%;
    padding: 8px;
}

.row-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.col-section {
    display: flex;
    flex-direction: column;
}

.col-section > div {
    margin: 20px;
}

.text {
    font-size: 1.5em;
}

input {
    border-radius: 5px;
    border-width: 1.9px;
    font-size: 1.35em;
}

select {
    border-radius: 5px;
    border-width: 2px;
    font-size: 1.2em;
}

#remain-time {
    color: rgb(249 194 92);
    font-weight: bold;
}

#remain-jumping-count {
    color: rgb(249 194 92);
    font-weight: bold;
}
