body {
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    background-color: rgb(255 222 92);
    color: white;
    font-weight: bold;
    font-size: 8em;
    text-align: center;
    padding: 18px 0;
}

#wrapper {
    margin: 32px;
    padding: 8px;
}

.row-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}

.col-section {
    display: flex;
    flex-direction: column;
}

.col-section > div {
    margin: 20px;
}

.text {
    font-size: 1.5em;
}

input {
    border-radius: 5px;
    border-width: 2px;
    font-size: 1.3em;
}

select {
    border-radius: 5px;
    border-width: 2px;
    font-size: 1.2em;
}

#remain-time {
    color: red;
    font-weight: bold;
}

#jumping-count {
    color: red;
    font-weight: bold;
}
